<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
    <!-- link animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <!-- link pribadi -->
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/feature.css">
    <link rel="stylesheet" href="./css/systemrequirement.css">
    <link rel="stylesheet" href="./css/pressquotes.css">
    <link rel="stylesheet" href="./css/newslatters.css">

    <!-- carousel about dan galery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    

</head>

<body>
    <!-- main call to action -->
    <main id="backgroundmain">
        <div class="gradient-main">
            <nav id="navbar-main">
                <nav id="header">
                    <nav class="logo-item">
                        <h1 id="logo-text">Logo</h1>
                        <ul id="list-menu">
                            <li>
                                <a class="list-item-menu" href="#">HOME</a>
                            </li>
                            <li>
                                <a class="list-item-menu" href="#">WORK</a>
                            </li>
                            <li>
                                <a class="list-item-menu" href="#">CONTACT</a>
                            </li>                    
                            <li>
                                <a class="list-item-menu" href="#">ABOUT ME</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="login-signup">
                        <form action="/register" method="post">
                        <button class="login">SIGN UP</button>
                        </form>

                        <form action="/login" method="post">
                        <button class="login">LOGIN</button>
                        </form>
                        
                    </nav>
                </nav>
            </nav>

            <div id="content-main" data-aos="zoom-in" data-aos-delay="250">
                <p class="tittle">PLAY TRADITIONAL GAME</p>
                <p class="desc">Experience new traditional game play</p>
                <form action="/game" method="post">
                <button class="btn-play"> PLAY NOW </button>
                </form>
            </div>
        </div>
    </main>
    <!-- end main call t action -->


    <!-- about and galery -->
    <div id="AboutGalery">
        <div class="gradient-aboutGalery">
            <div id="about-galery">
                <div class="text-about" data-aos="zoom-in" data-aos-offset="350">
                    <p class="question-about">What's so special?</p>
                    <p class="title-about">THE GAMES</p>
                </div>

                <div class="image-content" data-aos="flip-left" data-aos-offset="350">
                
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img class="image-content-about" src="/img/rockpaperstrategy.png" alt="Stickman">
                            </div>
                            
                          <div class="item">
                            <img class="image-content-about" src="/img/rockpaperstrategy.png" alt="Stickman">
                            </div>
                        
                          <div class="item">
                            <img class="image-content-about" src="/img/rockpaperstrategy.png" alt="Stickman">
                            </div>
                        </div>
                    
                        <!-- Left and right controls -->
                        <div class="left-right-carousel">
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
                            <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
                            <span class="sr-only">Next</span>
                            </a>
                        </div>
                      </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- end about and galery -->

    <!-- features -->
    <div id="backgroundfeature">
        <div class="gradient-feature">
            <div class="content-feature">

                <div class="nav-feature" data-aos="fade-up-right">
                    <p class="nav-title-feature">What's so special</p>
                    <p class="nav-desc-feature">FEATURES</p>
                </div>

                <ul class="body-feature">

                    <div class="border-feature">
                        <li class="text-feature" data-aos="fade-left" data-aos-delay="300">
                            <p class="title-feature">TRADITIONAL GAMES</p>
                            <p class="desc-feature">If you miss your childhood, we provide many traditional games here</p>
                        </li>
                        
                        <li class="text-feature2" data-aos="fade-left" data-aos-delay="400">
                            <p class="title-feature2">GAME SUIT</p>
                        </li>
                    </div>
                    
                        <li class="text-feature3" data-aos="fade-left" data-aos-delay="500">
                            <p class="title-feature3">TBD</p>
                        </li>
                    
                    <div class="circle">
                        <svg class="circle-1" height="100" width="100" data-aos="fade-left" data-aos-delay="350">
                            <circle cx="20" cy="20" r="10" stroke="white" stroke-width="3" fill="white" />
                            Sorry, your browser does not support inline SVG.  
                          </svg> 

                        <svg class="circle-2" height="100" width="100" data-aos="fade-left" data-aos-delay="450">
                            <circle cx="20" cy="20" r="10" stroke="white" stroke-width="3" fill="black" />
                            Sorry, your browser does not support inline SVG.  
                          </svg> 

                        <svg class="circle-3" height="100" width="100" data-aos="fade-left" data-aos-delay="550">
                            <circle cx="20" cy="20" r="10" stroke="white" stroke-width="3" fill="black" />
                            Sorry, your browser does not support inline SVG.  
                          </svg> 
                    </div>

                        <svg class="line-feature" height="200" width="500" data-aos="fade-left" data-aos-delay="450">
                        <line x1="0" y1="121" x2="0" y2="0" style="stroke:white; stroke-width:2" />
                        Sorry, your browser does not support inline SVG.
                        </svg>
                    
                </ul>

            </div>
        </div>
    </div>
    <!-- end features -->

    <!-- system requiremnt -->
    <div id="backgroundsystemrequirement">
        <div class="gradient-background-system-requirement">
            <div class="content-system-requirement">
                <p class="title-system-requirement">Can My Computer Run this game?</p>
                <div class="desc-system-requirement" data-aos="fade-left" data-aos-duration="500">
                    <p>system</p>
                    <p>requirements</p>
                 </div>
                <table class="table-system-requirement">
                    <tr>
                        <td data-aos="zoom-out" data-aos-duration="400" data-aos-offset="300"> 
                            <p class="main-title-system">OS:</p>
                            <p class="main-desc-system">Windows 7 64-bit only</p>
                            <p class="main-desc-system">(No OSX support at this time)</p>
                        </td>
                        <td data-aos="zoom-out" data-aos-duration="500" data-aos-delay="200" data-aos-offset="300">
                            <p class="main-title-system">PROCESSOR:</p>
                            <p class="main-desc-system">Intel Core 2 Duo @ 2.4 GHZ or </p>
                            <p class="main-desc-system">AMD Athlon X2 @ 2.8 GHZ</p>
                        </td>
                    </tr>
                    <tr>
                        <td data-aos="zoom-out" data-aos-duration="600" data-aos-delay="300">
                            <p class="main-title-system">MEMORY:</p>
                            <p class="main-desc-system">4 GB RAM</p>
                        </td>
                        <td data-aos="zoom-out" data-aos-duration="700" data-aos-delay="350">
                            <p class="main-title-system">STORAGE:</p>
                            <p class="main-desc-system">8 GB available space</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" data-aos="zoom-out" data-aos-duration="800" data-aos-delay="400">
                            <p class="main-title-system">GRAPHICS:</p>
                            <p class="main-desc-system">NVIDIA GeForce GTX 660 2GB or </p>
                            <p class="main-desc-system">Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>                     
                        </td>               
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <!-- end system requirement -->

    <!-- press quotes -->
    <div id="backgroundpress">
        <div class="gradient-background-press">
            <div class="main-pq">
                <div class="left-main-press" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-offset="200">
                    <p class="title-left-press">TOP SCORES</p>
                    <p class="desc-left-press">This top score from various games provided on this platform</p>
                    <button class="btn-press">see more</button>
                </div>
                <div class="right-main-press">
                    <div class="border-press-1" data-aos="fade-left" data-aos-duration="500">
                        <tr>
                            <div class="content-main-press1">
                                <td>
                                    <img class="image-press1" src="/img/evanlahti.jpg" width="70" height="70">
                                </td>
                                <div class="head-border-press1">
                                    <td>
                                        <p class="name-border-press1">Evan Lahti</p>
                                        <p class="job-border-press1">PC Gamer</p>
                                    </td>
                                </div>
                            </div>
                            <div class="content-border-press1">
                                <td>
                                    <p class="desc-border-press1">“One of my gaming highlights of the year.”</p>
                                    <p class="date-border-press1">June 18, 2021</p>
                                </td>
                            </div>
                        </tr>
                    </div>

                    <div class="border-press-2" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                        <tr>
                            <div class="content-main-press2">
                                <td>
                                    <img class="image-press2" src="/img/jadagriffin.jpg" width="70" height="70"">
                                </td>
                                <div class="head-border-press2">
                                    <td>
                                        <p class="name-border-press2">Jada Griffin</p>
                                        <p class="job-border-press2">Nerdreactor</p>
                                    </td>
                                </div>
                            </div>
                            <div class="content-border-press2">
                                <td>
                                    <p class="desc-border-press2">“One of my gaming highlights of the year.”</p>
                                    <p class="date-border-press2">June 18, 2021</p>
                                </td>
                            </div>
                        </tr>
                    </div>

                    <div class="border-press-3" data-aos="fade-left" data-aos-duration="1250" data-aos-delay="300">
                        <tr>
                            <div class="content-main-press1">
                                <td>
                                    <img class="image-press3" src="/img/aaronwilliams.jpg" width="70" height="70">
                                </td>
                                <div class="head-border-press3""> 
                                    <td>
                                        <img src="" alt="">
                                        <p class="name-border-press3">Aaron Williams</p>
                                        <p class="job-border-press3">Uproxx</p>
                                    </td>
                                </div>
                            </div>
                            <div class="content-border-press3">
                                <td>
                                    <p class="desc-border-press3">“One of my gaming highlights of the year.”</p>
                                    <p class="date-border-press3">June 18, 2021</p>
                                </td>
                            </div>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end press quotes -->

    <!-- newsletter -->
    <div class="background-newsletter">
            <div class="main-newsletter">
                <div class="left-newsletter" data-aos="zoom-out" data-aos-delay="300">
                    <div class="gradient-trophy">
                        <img src="/img/trophy.png" >
                    </div>
                </div>
                <div class="right-newsletter">
                    <p class="title-newslatter" data-aos="fade-down-left">Want to stay in touch?</p>
                    <p class="desc-newslatter" data-aos="fade-down-left">NEWSLETTER SUBSCRIBE </p>
                    <p class="text-newslatter" data-aos="fade-up-left">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
                
                    <div class="button-newsletter" data-aos="fade-up-left">
                        <div class="btn-email">
                            <button class="btn-email">
                                <p class="title-email-newslatter">Your email address</p>
                                <p class="email-newslatter">youremail@binar.co,id</p>
                            </button>
                        </div>
                        <div class="btn-subscribe">
                            <button class="btn-subscribe">Subscribe now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-newslatter">
                <a class="text-footer-newslatter" href="#backgroundmain">MAIN</a>
                <a class="text-footer-newslatter" href="#AboutGalery">ABOUT</a>
                <a class="text-footer-newslatter" href="#backgroundfeature">GAME FEATURES</a>
                <a class="text-footer-newslatter" href="#backgroundsystemrequirement">SYSTEM REQUIREMENTS</a>
                <a class="text-footer-newslatter" href="#backgroundpress">QUOTES</a>
                <img src="img/facebook.png" >
                <img src="img/twitter.svg" >
                <img src="img/youtube.png" width="40" height="25">
                <img src="img/chat.jpg" >
                <img src="" alt="">
            </div>
            <div class="line-footer">
                <svg height="0100" width="1400">
                    <line x1="0" y1="0" x2="1400" y2="0" style="stroke:rgb(255, 255, 255);stroke-width:2;" />
                </svg>
            </div>

            <div class="copyright-footer">
                <div class="copyright">
                    <p> © 2018 Your Games, Inc. All Rights Reserved</p>
                </div>
                <div class="information-privacy">
                    <p class="text-information-privacy">Privacy Policy | Terms of Services | Code of Conduct </p>
                </div>
            </div>  
    </div>
    <!-- end newsletter -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        once: true,
      });
    </script>

</body>

    <style>

        /* css main */

        /* css for main */
    #backgroundmain{
        background-image: url(./img/bglanding.png);
        background-size: cover;
        /* width: 1860px; */
        width: 100vw;
        height: 1500px;
        margin: auto;
   }

    .gradient-main{
        background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);  
        height: 1500px;
    }

    #navbar-main{
        background: rgba(0, 0, 0, 0.5);
        height: 85px;
    }

    #header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 23px;
        margin: auto;
    }

    @media only screen and (min-width: 1440px) {
        #content-main{
            
        }
    }
            
    .logo-item{
        display: flex;

    }
    #list-menu {
        display: flex;
        list-style-type: none;
        gap: 20px;
        font-size: 16px;
        margin-top: 9px;
        margin-left: 120px;
    }

    .list-item-menu{
        color: white;
        font-family: arial;
        font-weight: 200;
        letter-spacing: 0.1em;
        text-decoration: none;
    }

    .list-item-menu:hover{
        color: orange;
    }

    #logo-text{
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        color: white;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0.1em;
        text-align: left;
        margin-left: 50px;
        margin-top: 4px;

    }

    #logo-text:hover{
        cursor: default;
    }

    .login{
        font-family: arial;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-align: right;
        color: #ffffff;
        background-color: transparent;
        padding: 0;
        border: none;
        background: none;
        margin-top: -5px;
    }

    .login:hover{
        color: orange;
    }

    .login-signup{
        display: flex;
        gap: 20px;
        padding-right: 70px;
    }

    #content-main{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 400px;
    }

    .tittle{
        color: #ffffff;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        letter-spacing: 3px;
        line-height: 83px;
    }

    .desc{
        color: #ffffff;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100px;
        letter-spacing: 2px;

    }

    .btn-play{
        font-family: Open 'Sans';
        font-style: normal;
        font-weight: 700;
        background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
        border-radius: 4px;
        height: 50px;
        width: 200px;
        border-color: transparent;
        text-decoration: none;
        color: #ffffff;
        margin: 0px auto;
    }

    .btn-play:hover{

        color: black;
        text-decoration: none;
    }

    /* end css for main */

    /* css aboutgallery */
    #AboutGalery{
    background-image: url(./img/bgaboutgalery.jpg);
    background-size: cover;
    width: 100vw;
    /* width: 1860px; */
    height: 1500px;
    margin: auto;
}

.gradient-aboutGalery{
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%);
    height: 1500px;
}

#about-galery{
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media only screen and (max-width: 1373px) {
    #about-galery{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 30px;
    }

    .image-content{
        margin-right: 30px ;
        width: 94vw;
    }   

    .carousel-indicators{
        margin: 0px 0px 0px -100px;
    }

    .image-content-about{
        width: 100vw;
    }

}

@media only screen and (min-width: 1373px) {

    .image-content{
        margin-top: 400px;
    }   
    
}

.text-about{
    position: relative;
    font-family: Arial;
    color: white;
    font-style: normal;
    line-height: 50px;
    letter-spacing: 2px;
    margin-top: 350px;
}

.question-about{
    font-size: 28px;
    gap: 10px;
}

.title-about{
    font-size: 72px;
    font-weight: 300;
} 

.carousel-indicators{
    gap: 30px;
}

/* end aboutgallery */

/* css feature */


#backgroundfeature{
        background-image: url(./img/bgfeature.jpg);
        background-size: cover;
        width: 100vw;
        /* width: 1860px; */
        height: 1500px;
        margin: auto;
    }
    
    .gradient-feature{
        background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        height: 1500px;
    }

    .content-feature{
        display: flex ;
        justify-content: center;
        margin: 0px 0px 0px 1370px;
        padding-top: 300px;
    }

    .nav-title-feature{
        color: white;
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */
        
        letter-spacing: 2px;
    }
    
    .nav-desc-feature{
        color: white;
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    #bodyfeature{
        margin: 200px 0px 0px -335px;
        list-style-type: none;
    }

    /* .border-feature{
        border-left: solid;
        border-color: white;
    } */
    @media only screen and (max-width: 1960px) {
        .circle-1{
            margin-top: -20px;
        }

        .circle-2{
            margin-top: 50px;
        }

        .circle-3{
            margin-top: -23px;
        }

        .content-feature{
            margin: auto;
        }
    }

    @media only screen and (min-width: 1960px) {
        .circle-1{
            margin-top: 0px;
        }

        .circle-2{
            margin-top: 30px;
        }

        .circle-3{
            margin-top: -23px;
        }
    }
      
    .circle{
        display: flex;
        flex-direction: column;
        margin: -252px 0px 0px -20px;
    }


    .line-feature{
        margin-top: -400px;
    }

    .title-feature{
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
        color: #FFB548;
        list-style: circle;
        margin-left: 50px;
    }

    .desc-feature{
        font-family: arial;
        font-style: normal;
        font-weight: 0;
        font-size: 18px;
        line-height: 22px;
        /* or 122% */
        text-align: justify;
        color: #FFFFFF;
        margin-left: 50px;
    }

    .title-feature2{
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
        color: #FFB548;
        margin-top: 70px;
        margin-left: 50px;

    }

    .title-feature3{
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
        color: #FFB548;
        margin-top: 50px;
        margin-left: 50px;
    }

    /* end feature */

    /* css system requirement */
    #backgroundsystemrequirement{
    background-image: url(./img/bgSystemRequire.png);
    background-size: cover;
    /* width: 1860px; */
    width: 100vw;
    height: 1500px;
    margin: auto;
}

.gradient-background-system-requirement{
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    height: 1500px;
}

.content-system-requirement{
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.title-system-requirement{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 0px auto;
}

.desc-system-requirement{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 50px 0px 40px 170px;
}

table, th, td {
    border: .5px solid gray;
    border-collapse: collapse;
    width: 950px;
    height: 220px;
    margin-left: 150px;
}

.main-title-system{
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 62px;
    /* identical to box height */
    letter-spacing: 2px;
    color: #FFB548;
    margin-top: -50px;
    margin-left: 20px;
}

.main-desc-system{
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;    
    /* or 122% */
    color: #FFFFFF;
    margin-left: 20px;

}

/* end system requirement */

#backgroundpress{
    background-image: url(./img/bgpressquotes.png);
    background-size: cover;
    /* width: 1860px; */
    width: 100vw;
    height: 1500px;
    margin: auto;
}

.gradient-background-press{
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;        height: 1500px;
    height: 1500px;
}


.main-pq{
    display: flex;
    color: white;
    padding-top: 200px;
    align-items: center;
    justify-content: space-around;
}

.title-left-press{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.desc-left-press{
    font-family: 'arial';
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    /* or 122% */
    color: #FFFFFF;
    margin-bottom: 80px;
    width: 500px;
    opacity: 0.75;
    
}

@media only screen and (max-width: 1570px) {

    .left-main-press{
        margin: 0px 0px 0px 20px;
    }

    .right-main-press{
        display: flex;
        flex-direction: column;
        align-items: end;
    }

}

@media only screen and (max-width: 1100px) {

    .left-main-press{
        margin: -1000px 0px 0px 0px;
    }
    .right-main-press{
        margin: 500px 0px 0px -1000px;
    }

}


.border-press-1{
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    width: 620px;
    margin: 0px 0px 35px 0px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.border-press-2{
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    width: 620px;
    margin: 0px 0px 35px -200px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.border-press-3{
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    width: 620px;
    margin: 0px 0px 35px 0px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.content-main-press1, .content-main-press2, .content-main-press3{
    display: flex;
    margin: 0px 0px 0px 0px;
}

.content-border-press1, .content-border-press2, .content-border-press3{
    margin: -30px 0px 0px 0px;
}

.image-press1, .image-press2, .image-press3{
    border-radius: 50%;
    margin: 40px 0px 40px 10px;
}

.head-border-press1, .head-border-press2, .head-border-press3{
    padding-left: 100px;
    margin: 50px 0px 50px -70px;
}

.head-border-press3{
    margin-top: 30px;

}

.name-border-press1, .name-border-press2, .name-border-press3{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: 2px;
    color: #FFB548;
}

.job-border-press1, .job-border-press2, .job-border-press3{
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: -10px;
}

.desc-border-press1, .desc-border-press2, .desc-border-press3{
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.date-border-press1, .date-border-press2, .date-border-press3{
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.btn-press{
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    color: black;
    height: 70px;
    width: 350px;
    font-size: 20px;
    font-weight: 600;
}

/* end presquotes */

/* css newletter */

.background-newsletter{
    background-color: #080A0B;
    /* width: 1860px; */
    width: 100vw;
    height: 1500px;
    margin: auto;
}
.gradient-trophy{
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.main-newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: -100px;
}

.right-newsletter{
    margin-top: -100px;
}

.title-newslatter{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: 2px;
    color: #FFFFFF;
    width: 200px;
}

.desc-newslatter{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.text-newslatter{
    width: 650px;
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    color: #FFFFFF;
}

.title-email-newslatter{
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 4px;
    margin: auto 0px 0px 10px;
}

.email-newslatter{
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
    margin: 5px 0px 0px 10px;

}

.button-newsletter{
    display: flex;
    gap: 20px;
}

.btn-email{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    width: 300px;
    height: 70px;
    text-align: start;
}

.btn-subscribe{
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 5px;
    width: 300px;
    height: 70px;
    margin: 0px 0px 0px 0px;
}

.footer-newslatter{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 200px 0px 30px 520px;
    font-family: arial;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}

.text-footer-newslatter{
    color: white;
}



.text-footer-newslatter:hover{
    color: orange;
    text-decoration: none;
}

.line-footer{
    display: flex;
    justify-content: center;
    opacity: 0.5;
}

.copyright-footer{
    display: flex;
    justify-content: center;
    margin: -80px 0px 0px 0px;
    gap: 750px;
}

.text-information-privacy{
    font-family: arial;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media only screen and (max-width: 1497px) {
    .footer-newslatter{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        }

        .copyright-footer{
            gap: 400px;
            
        }

}

@media only screen and (max-width: 1320px) {

    .main-newsletter{
        display: flex;
        flex-direction: column;
    }

    .right-newsletter{
        margin-top: 10px;
    }

    .footer-newslatter{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        gap: 30px;

    }

    .copyright-footer{
        gap: 60px;
        /* display: flex;
        flex-direction: column; */
    }

    .text-newslatter{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .footer-newslatter{
        margin-top: 100px;
        gap: 20px;
    }

}

    </style>

</html>